<div ng-controller="editPaperInfo" style="text-align: center">
    <div class="container">
        <div class="row">
            <div class="col-xs-1" style="padding-top: 5px">
                论文编号:
            </div>
            <div class="col-xs-2 ">
                <input type="text" class="form-control" ng-model="paper.paperid">
            </div>
            <div class="col-xs-1">
                论文题目:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.title">
            </div>
            <div class="col-xs-1">
                发表日期:
            </div>
            <div class="col-xs-2 ">
                <input type="date" class="form-control" ng-model="paper.pubdate">
            </div>


        </div>
            <button ng-click="updatePaperInfo()">保存修改</button>
    </div>
</div>