<div ng-controller="newPaperInfo" style="text-align: center">
    <div class="container">
        <div class="row">
            <div class="col-xs-1" style="padding-top: 5px">
                论文编号:
            </div>
            <div class="col-xs-2 ">
                <input type="text" class="form-control" ng-model="paper.paperid" required>
            </div>
            <div class="col-xs-1">
                论文题目:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.title" required>
            </div>
            <div class="col-xs-1">
                发表日期:
            </div>
            <div class="col-xs-2 ">
                <input type="date" class="form-control" ng-model="paper.pubdate">
            </div>
            <div class="col-xs-1">
                起始页:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.spage">
            </div>
            <div class="col-xs-1">
                终止页:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.tpage">
            </div>
            <div class="col-xs-1">
                第一作者:
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="paper.fauthor">
            </div>
        </div>
            <button ng-click="newPaperInfo()">新建论文</button>
    </div>
</div>