<div>
     <div class="container" ng-controller="changePassword">
         <div class="navbar navbar-default"  style="margin-top: 10px;width: 90%" >
             <div class="row" style="padding-top: 10px">
                 <div class="form-group">
                     <label class="col-xs-offset-3 col-xs-2 control-label" style="margin-top: 5px" for="password">旧密码：</label>
                     <div class="col-xs-3">
                         <input placeholder="输入密码" class="form-control" type="password" ng-model="pwd.old" required />
                     </div>
                 </div>
             </div>
             <div class="row" style="padding-top: 10px">
                 <div class="form-group">
                     <label class="col-xs-offset-3 col-xs-2 control-label" style="margin-top: 5px" for="password">新密码：</label>
                     <div class="col-xs-3">
                         <input placeholder="输入密码" class="form-control" type="password" ng-model="pwd.new1" required />
                     </div>
                 </div>
             </div>
             <div class="row" style="padding-top: 10px">
                 <div class="form-group">
                     <label class="col-xs-offset-3 col-xs-2 control-label" style="margin-top: 5px" for="password">确认新密码：</label>
                     <div class="col-xs-3">
                         <input placeholder="输入密码" class="form-control" type="password" ng-model="pwd.new2" required />
                     </div>
                 </div>
             </div>
             <div class="row" style="padding-top: 40px;padding-bottom: 20px">
                 <div class="form-group">
                     <div class="col-xs-offset-4 col-xs-1">
                         <input class="btn btn-primary" type="submit" value="提交" ng-click="checkForm()">
                     </div>
                     <div class="col-xs-1">
                         <input class="btn btn-primary" type="reset" value="重置">
                     </div>

                 </div>
             </div>
         </div>
     </div>
</div>