<div>
    <div ng-controller="stuOwnInfo">
        <input type="text" ng-model='sname'/>
        <!--<select>-->
        <!--<option ng-repeat="v in stuSex">{{ v.sex }}</option>-->
        <!--</select>-->
        <select ng-model="stu.sex" ng-options="v.sex as v.sex for v in stuSex">
            <!--<option value="">请选择你的性别</option>-->
        </select>
        <button ng-click="updateStuInfo()">提交</button>
    </div>
</div>