<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="result_user" method="post">
    <input type="text" name="username">
    <br>
    <input type="password" name="pwd">
    <br>
    <p><button type="submit">提交</button> </p>
</form>
</body>
</html>