<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- Bootstrap -->

    <link href="./public/stylesheets/bootstrap-css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="./public/stylesheets/bootstrap-css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./public/stylesheets/style.css" rel="stylesheet" media="screen">
    <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
    <script src="./public/javascripts/jquery.js"></script>
    <script src="./public/javascripts/jquery.cookie.js"></script>
    <script src="./public/javascripts/angular.js"></script>
    <script src="./public/javascripts/angular-ui-router.js"></script>
</head>