<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %></title>
</head>
<body>
<p><%= userID %>,welcome to the home</p>
<a href="/logout">logout1</a>
</body>
</html>