<div>
     <div ng-controller="getUser">
         <h1>Page 1 content goes here...</h1>
         <div>
             <input type="text" name="user" ng-model="test1">
             <p ng-bind="test1"></p>
         </div>
     </div>
</div>

